.destination-container {
  background-color: rgba(254, 167, 101, 0.12);
  min-height: 100vh;
}

.destination-header-section {
  background-image: linear-gradient(
      rgba(68, 157, 188, 0.5),
      rgba(68, 157, 188, 0.5)
    ),
    url("../assets//aerial-afterglow-cityscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-bottom: 135px;
}
.destination-header-text {
  letter-spacing: 0.1em;
  color: white;
  padding-top: 40px;
  font-size: 34px;
  font-family: "Jomolhari", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-text {
  font-family: "Jomolhari", sans-serif;
  font-size: 18px;
  padding: 20px;
}
.location-text img {
  border-radius: 8px;
  margin: 2px;
  width: 280px;
  height: 210px;
}

.location-text img:active {
  background-color: bisque;
}

@media only screen and (min-width: 360px) {
  .destination-header-text {
    font-size: 40px;
  }
  .location-text img {
    margin: 2px;
    width: 380px;
    height: auto;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .destination-header-text {
    font-size: 40px;
  }
  .location-text {
    display: inline-block;
  }
  .location-text img {
    margin: 10px;
    width: 420px;
    height: auto;
  }
}

@media (min-width: 700px) and (min-height: 768) {
  .destination-header-text {
    font-size: 48px;
  }
  .location-text {
    margin-left: 60px;
  }
  .location-text img {
    margin: 40px;
    width: 600px;
    height: 520px;
  }
  .destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
